{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}


<div class="row mt-3">
    <div class="col-sm-4">
        <h5>About Me </h5>
        <p>{{ user.name }}<br />
        {{ user.email }}</p>
        <p class="small"> <a href="/profile/edit"><i class="fas fa-user-edit"></i> Edit</a></p>
        <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h5>Login Activity</h5>
    {% for activity in login_activity %}
        <p class="bg-light p-3 border">On <span class="font-weight-bold">{{ activity.last_time }}</span> from {{ activity.ip_address }} {{ activity.location }}<br /><span class="small">Browser: {{ activity.browser }}</span> </p>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
